@model IEnumerable<MvcApplicationBootStrapTable.Models.Proposal>


<!-- bootstrap style styling in jquery -->
<style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        font-size: 11px;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
</style>

<div>
    <div style=" font-weight:700 ; font-size:18px">Quotations</div>
</div>
<div class="well table-responsive" style="background-color: rgba(0, 0, 0, 0.05)">
    @if (Model != null)
    {
        <table id="tblQuotation" class="table table-bordered table-hover table-condensed table-striped table-responsive">
            <thead style="background-color: rgba(47, 105, 4, 0.1)">
                <tr>
                    <th>Client Name</th>
                    <th>Number Of Persons</th>
                    <th>Number Of Rooms</th>
                    <th>To Date</th>
                    <th>From Date</th>
                    <th>Edit</th>
                    <th>Mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Proposal in Model)
                {
                    <tr>
                        <td>@Proposal.ClientName</td>
                        <td>@Proposal.NumberOfPersons</td>
                        <td>@Proposal.NumberOfRooms</td>
                        <td>@(String.Format("{0:dd/MM/yyyy}", Proposal.ToDate))</td>
                        <td>@(String.Format("{0:dd/MM/yyyy}", Proposal.FromDate))</td>
                        <td>
                            <button data-proposalid="@Proposal.ProposalId" data-numberofpersons="@Proposal.NumberOfRooms"
                                    data-clientname="@Proposal.ClientName" data-numberofrooms="@Proposal.NumberOfRooms" data-fromdate="@Proposal.FromDate"
                                    data-todate="@Proposal.ToDate" type="button" class="btn btn-warning btn-xs" data-toggle="modal" onclick="showModal(this)">
                                Edit Proposal
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#emailModal">
                                Email
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
    }
</div>


<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header" style="height:10px">
                </div>*@
            <div class="modal-body">

                <div class="row">
                    <form method="post" enctype="multipart/form-data" action="@Url.Action("SaveAttachments")" id="attachmentUpload">
                        <label for="formGroupAttachment" style="margin-left:13px">Attachment's</label>
                        <div class="form-group">
                            <div class="col-md-4">

                                <label style="cursor:pointer ">
                                    <div class="btn btn-xs btn-success"> Browse Files  <span id="badgeNumberOfFilesAttached" class="badge">0 files attached</span></div>
                                    <input onchange="handleFiles(this.files)" style="visibility:hidden" type="file" class="form-control input-sm" name="ListOfFiles" id="formGroupAttachment" placeholder="Email-Id" ng-model="file" multiple>
                                </label>
                                <span style="font-size:9px"><label id="message" ng-model="responseMessage"></label></span>
                                <br />
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-primary btn-xs" id="formGroupAttachmentBtn">Attach-Files</button>
                                <span>
                                        <a data-html="true" data-placement="bottom" id="showFiles" tabindex="0" class="btn btn-xs btn-default" role="button" data-toggle="popover" title="View Files">View Files</a>
                                </span>
                            </div>
                            <div class="col-md-0">

                            </div>
                        </div>
                    </form>

                </div>
                <br />
                <div class="row">
                    <div class="progress" style="height:12px ; visibility:hidden ; ">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0% ;" ng-class="hideProgressBar">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="formGroupEmailID">To Email</label>
                        <input onchange="handleFiles(this.files)" type="text" class="form-control" id="formGroupEmailID" placeholder="Email-Id" ng-model="toEmailid" required ">
                    </div>
                    <div class="form-group">
                        <label for="formGroupEmailID">CC</label>
                        <div style="border: 1px solid #e0d5d5 ; border-radius:4px">
                            <div class="row">
                                <div class="col-md-5">
                                    <input style="border:0px ; outline:none" type="text" id="formGroupEmailID1" placeholder="Email-Id-1" ng-model="emailid1">
                                    <input style="border: 0px; outline: none" type="text" id="formGroupEmailID2" placeholder="Email-Id-2" ng-model="emailid2">
                                    <input style="border: 0px; outline: none" type="text" id="formGroupEmailID3" placeholder="Email-Id-3" ng-model="emailid3">
                                </div>>
                                <div class="col-md-5">
                                    <input style="border:0px ; outline:none" type="text" id="formGroupEmailID4" placeholder="Email-Id-4" ng-model="emailid4">
                                    <input style="border: 0px; outline: none" type="text" id="formGroupEmailID5" placeholder="Email-Id-5" ng-model="emailid5">
                                    <input style="border: 0px; outline: none" type="text" id="formGroupEmailID6" placeholder="Email-Id-6" ng-model="emailid6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formGroupBody">Body</label>
                        <textarea class="form-control" id="formGroupBody" placeholder="Body" style="height:80px ;  resize:none" ng-model="emailBody" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span id="progressMessage">
                    <img src="~/Images/loader.gif" ng-style="hideShow" style="width:77px ; height:50px ; visibility:hidden" />
                    <span ng-style="messageStyle">{{progressMessage}}</span>
                </span>
                <button type="button" class="btn btn-secondary btn-xs btn-danger" data-dismiss="modal" ng-click="clearEmailModal()">Close</button>
                <button type="button" class="btn btn-primary btn-xs btn-success" ng-click="sendEmail()">Email</button>
            </div>
        </div>
    </div>
</div>


<!-- modal to edit proposal-->
<div id="modalEditProposalDetails" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #91a062; color: white">
                <h4 class="modal-title" id="gridSystemModalLabel">Proposal Details</h4>
            </div>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        @using (Html.BeginForm("EditProposal", "Quotation", FormMethod.Post))
                        {
                            <input type="hidden" name="proposal.ProposalId" id="ProposalId" value="" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="clientName">Client Name</label>
                                        <input type="text" name="proposal.ClientName" id="clientName" class="form-control input-sm" required />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="numberOfPersons">Number Of Persons</label>
                                        <input type="number" name="proposal.NumberOfPersons" id="numberOfPersons" class="form-control input-sm" required min="1" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="numberOfRooms">Number Of Rooms</label>
                                        <input type="number" name="proposal.NumberOfRooms" id="numberOfRooms" class="form-control input-sm" required min="1" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="fromDate">From Date</label>

                                    <div class="input-group">
                                        <input type='text' class="form-control input-sm" id='fromDate' name="proposal.FromDate" aria-describedby="inputGroupAddonToDate" required />
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#fromDate').datetimepicker(
                                                    {
                                                        viewMode: 'years',
                                                        format: 'DD/MM/YYYY'
                                                    });
                                            });
                                        </script>
                                        <span style="color:blue" class="glyphicon glyphicon-calendar input-group-addon" id="inputGroupAddonToDate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="fromDate">To Date</label>

                                    <div class="input-group">
                                        <input type='text' class="form-control input-sm" id='toDate' name="proposal.ToDate" aria-describedby="inputGroupAddonToDate" required />
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#toDate').datetimepicker(
                                                    {
                                                        viewMode: 'years',
                                                        format: 'DD/MM/YYYY'
                                                    });
                                            });
                                        </script>
                                        <span style="color:blue" class="glyphicon glyphicon-calendar input-group-addon" id="inputGroupAddonToDate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" style="height:10px">
                                <button type="button" class="btn btn-default btn-danger btn-xs" data-dismiss="modal" onclick="closeModal()">Close</button>
                                <button type="submit" class="btn btn-primary btn-xs">Save changes</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal to edit proposal ends here-->
<div id="popover_content_wrapper" class="popover_content_wrapper" style="display: none ; width:300px ">
    <div style="overflow-x:scroll ; overflow-y:scroll">
        <span id="showNamesOfFileAttached"></span>
        <br />
        <br />
    </div>
</div>
<br />
<br />
<br />
<br />
<script type="text/javascript">
    $(document).on('click keyup', function (e) {
        console.log(e.target)
        if (typeof $(e.target).data('placement') == 'undefined') {
            $('#showFiles').popover('hide');
        }
    });

    $("#showFiles").popover({
        html: true,
        trigger: 'manual',
        content: function () {
            return $('#popover_content_wrapper').html();
            //return $compile($("#popover_content_wrapper").html())(scope);
        },
        container: 'body'
    }).click(function (e) {
        $('.popover-dismiss').not(this).popover('hide');
        $(this).popover('toggle');
    });

    $("#formGroupAttachment").on("change", handleFiles, false);
    function handleFiles() {
        var fileList = $("#formGroupAttachment")[0];/* now you can work with the file list */
        console.log("test" + $("#formGroupAttachment")[0].files[0].name);
        for (var i = 0, numFiles = fileList.files.length; i < numFiles; i++) {
            var fileName = fileList.files[i].name;
            console.log(fileName);
            $("#showNamesOfFileAttached").append("<span class='label label-warning' style='margin-top:4px '>" + fileName + "<span style='background-color: #f0ad4e;font-size:12px' class='badge' data-fileNamne='" + fileName + "'>| Delete</span> </span><br/>")
        }
    }
    function showModal(prpsl) {
        console.log(prpsl)
        $("#clientName").val($(prpsl).data("clientname"))
        $("#toDate").val($(prpsl).data("todate"))
        $("#fromDate").val($(prpsl).data("fromdate"))
        $("#numberOfRooms").val($(prpsl).data("numberofrooms"))
        $("#numberOfPersons").val($(prpsl).data("numberofpersons"))
        $("#ProposalId").val($(prpsl).data("proposalid"))
        $('#modalEditProposalDetails').modal({
            show: 'true'
        });
    }
    $(document).ready(function () {
        $("[id^=formGroupEmailID]").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Quotation/FetchEmailIds",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(item);
                            return { label: item, value: item };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
    $('#formGroupAttachmentBtn').on('click', function () {
        $("#message").text(' ')

        //$('#attachmentUpload').submit();
        var file = document.getElementById('formGroupAttachment'),
        formData = new FormData();
        if (file.files.length > 0) {
            for (var i = 0; i < file.files.length; i++) {
                formData.append('file-' + i, file.files[i]);
                console.log("filenames" + file.files)
            }
        }
        $.ajax({

            xhr: function () {
                $(".progress").css({ "visibility": "visible" })
                var xhr = new window.XMLHttpRequest();
                //Upload progress
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = (evt.loaded / evt.total) * 100;
                        //Do something with upload progress
                        $(".progress-bar").attr('aria-valuenow', percentComplete).css('width', percentComplete + "%");
                        //console.log("per :"+percentComplete);
                    }
                }, false);

                xhr.upload.addEventListener('loadend', function (e) {
                    $(".progress-bar").attr('aria-valuenow', percentComplete).css('width', percentComplete + "%");
                });

                xhr.addEventListener('readystatechange', function (e) {
                    if (this.readyState === 4) {

                        setTimeout(function () {
                            $(".progress").css({ "visibility": "hidden" });
                            $(".progress-bar").attr('aria-valuenow', "0").css('width', "0%");
                            $("#badgeNumberOfFilesAttached").html($("#formGroupAttachment")[0].files.length + " files attached")

                        }, 3000);
                        //  $(".progress").css('visibility', "hidden");
                    }
                });

                //Download progress
                xhr.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        //Do something with download progress
                        console.log("per :" + percentComplete);
                    }
                }, false);
                return xhr;
            },
            url: "@Url.Action("SaveAttachments")",
            type: 'POST',
            data: formData,
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data, textStatus, jqXHR) {
                $("#message").css({ "color": "green" })
                $("#message").text(data)

                console.log(formData);
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    });
</script>






